<div class="container form-container login-container centered">
  <div class="transparent-bg "style="padding: 2em">
  <h1>Welcome to E-Registry!</h1>
    You're on a main page of E-Registry Application. To navigate through service, use controls on panel on the top of site.<br>
    To manage classes, go to <b>Classes</b> section. There you can browse, edit and add new classes. <br>
    To manage users, go to <b>Users</b> section. There you can browse, edit and add new users. <br>
    To log out, use dropdown on the right side of the panel, then click <b>Logout</b> button.
  </div>
</div>
