.list-container {
  height: 90%;
  width: fit-content;
  min-width: 80%;
  margin: auto;
  font-size: 30px;
}

.whole-container {
  margin: auto;
  align-items: stretch;
  font-size: 30px;
}

.centered {
  display: flex;
  justify-content: space-evenly;
}

.centered-vertical {
  top: 40%;
}

.scrollable {
  overflow: auto;
}

.top-margin {
  margin-top: 20px;
}

.header-font {
  font-size: 60px;
  color: white;
  text-shadow: 0 0 30px rgba(187, 214, 240,100);
}

.check-bg {
  background-color: rgba(187, 214, 240,100);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(68, 100, 115,100);
}

.ul-scrollable {
  width: 100%;
  height: 80%;
  overflow: auto;
}

.list-item-margin {
  margin: 15px 15px 15px 15px;
  padding: 5px 5px 5px 5px;
}

.whole-bg {
  background-color: lightcyan;
  border-radius: 20px;
  box-shadow: 0 0 50px black;
}

.logout-bg {
  background-color: rgba(187, 214, 240,100);
  border-radius: 8px;
  box-shadow: 0 0 15px black;
}

.nice-bg {
  background-color: rgba(21, 53, 107, 100);
  border-radius: 10px;
  box-shadow: 0 0 0px black;
}

.vertical-margin {
  margin: .5em 0 .5em 0;
  padding: 20px 0 20px 0;
}

.horizontal-margin {
  margin: 0 .5em 0 .5em;
  padding: 0 20px 0 20px;
}

.button-layout {
  padding: 10px 10px 10px 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}

.both-margins {
  margin: .7em .7em .7em .7em;
  padding: 10px 10px 10px 10px;
}

.separator {
  padding-left: 40px;
  padding-right: 40px;
}

.li-text {
  font-size: 20px;
  color: white;
  text-overflow: clip;
}
