<div vertical layout class="list-container">
    <button type="button" class="btn btn-default btn-sm logout-bg" (click)=logOut()>
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </button>
  <div class="header-font centered">Manage Entities:</div>
  <div class="list-container centered whole-bg">
    <div class="both-margins check-bg">
            <div class="btn-group centered" role="group">
                <button type="button" class="btn btn-dark button-layout"
                data-toggle="modal" data-target="#addTeacherModal">Add Teacher</button>
                <div class="modal fade centered-vertical" id="addTeacherModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Add teacher</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body form-group">
                          <input type="text" class="form-control" id="addStudentName" placeholder="Name">
                          <input type="text" class="form-control mini-top-margin" id="AddStudentSurname" placeholder="Surname">

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" required>Close</button>
                          <button type="button" class="btn btn-primary" (click) = addTeacher() required>Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <button type="button" class="btn btn-dark button-layout"
                data-toggle="modal" data-target="#deleteTeacherModal">Delete Teacher</button>
                <div class="modal fade centered-vertical" id="deleteTeacherModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer centered">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" required>Back</button>
                        <button type="button" class="btn btn-primary" (click) = addTeacher() required>Proceed</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
      <div class="centered">
        <p class="top-margin"><b>Teachers</b></p>
      </div>
      <div class="ul-scrollable">
        <ul class="list-group" style="list-style-type: none;">
          <li class="nice-bg list-item-margin li-text" *ngFor="let teacher of teachers">
            {{teacher}}
          </li>
        </ul>
      </div>
    </div>
    <div class="both-margins check-bg">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-dark button-layout"
            data-toggle="modal" data-target="#addStudentModal">Add Student</button>
            <div class="modal fade centered-vertical" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body form-group">
                    <input type="text" class="form-control" id="addStudentName" placeholder="Name">
                    <input type="text" class="form-control mini-top-margin" id="AddStudentSurname" placeholder="Surname">

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"  onClick = "resetModal()" required>Close</button>
                    <button type="button" class="btn btn-primary" (click) = addStudent() required>Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-dark button-layout"
            data-toggle="modal" data-target="#deleteStudentModal">Delete Student</button>
            <div class="modal fade centered-vertical" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer centered">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" required>Back</button>
                      <button type="button" class="btn btn-primary" (click) = addTeacher() required>Proceed</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      <div class="centered">
        <p class="top-margin"><b>Students:</b></p>
      </div>
      <div class="ul-scrollable">
        <ul class= "list-group" style="list-style-type: none;">
          <li class="nice-bg list-item-margin li-text" *ngFor="let student of students">
            {{student}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
