.scrollable {
  height: 95%;
  padding-right: 20px;
  overflow: auto;
}

.padding {
  padding: 5px 5px 5px 5px;
}

.justify {
  text-align: justify;
}

.p-padding {
  padding-top: 20px;
}

.img-bounds {
  display: block;
  max-width:90%;
  max-height:100%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 3px solid gray;
}
